body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.top-buffer { margin-top:20px; }

.bottom-buffer { margin-bottom:50px;
margin-top:15px;}

.medium-bottom-buffer { margin-bottom:15px; }

.small-bottom-buffer { margin-bottom: 15px;
                       padding-bottom: 32px;
                          }

.smaller-bottom-buffer { margin-bottom: 5px;
;
}

.slight-smaller-bottom-buffer { margin-bottom: 15px;
;
}

.header-spacing { margin-bottom:15px;
margin-top:15px; }
